@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
  margin: 0 !important;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* color: aliceblue; */
    
  }
ul{
  text-decoration-line: none;
  height: 5vh;
  background-color: black;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
}


